doctype html
html(lang="es" ng-app="app")
    head
        title Test
        meta(charset="utf-8")
        link(href="style/main.css"  rel="stylesheet")
        
    body(ng-controller="mainController")
        h1.title  Hola mundo!!
        
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js")
        script(src="javascript/mainController.js")
        script(src="javascript/app.js")
